<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
        <h3>Edit this listing</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input value="<%= listing.title %>" name="listing[title]" class="form-control" required>  </input>
            <div class="invalid-feedback">Enter a title!</div>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <textarea name="listing[desc]" cols="30" rows="10" class="form-control" required><%= listing.desc %> </textarea> 
            <div class="invalid-feedback">Enter a short description!</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input value="<%= listing.image %>" name="listing[image]" class="form-control" required>   </input>
            <div class="invalid-feedback">Enter a valid Image URL/Link!</div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input value="<%= listing.price %>" name="listing[price]" class="form-control" required>   </input>
                <div class="invalid-feedback">Price should be valid!</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="location" class="form-label">Location</label>
                <input value="<%= listing.location %>" name="listing[location]" class="form-control" required>   </input>
                <div class="invalid-feedback">Location should be valid!</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input value="<%= listing.country %>" name="listing[country]" class="form-control" required>   </input>
            <div class="invalid-feedback">Country name should be valid!</div>
        </div>
        <button class="btn btn-dark edit-btn">Save Changes</button>
    </form>
    <br><br>
        </div>
        
    </div>
    
</body>
