<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Muse</title>
</head>
<body>
    <h3>Details</h3>
    <ul>
        <li> <%= listing.title %> </li>
        <li> <%= listing.desc %> </li>
        <li> &#8377; <%= listing.price.toLocaleString("en-IN") %> </li>
        <li> <%= listing.location %> </li>
        <li> <%= listing.country %> </li>
    </ul>
    <form method="GET" action="/listings/<%=listing._id%>/edit">
        <button>Edit</button>
    </form>
    <br>
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button>Delete</button>
    </form>
</body>
</html>